<section class="py-16 bg-gray-100">
    <div class="max-w-7xl mx-auto px-6 lg:px-8 text-center">
        <h2 class="text-3xl lg:text-4xl font-extrabold text-primary mb-6">
            Contáctanos
        </h2>
        <p class="text-base lg:text-lg text-gray-700 mb-12 leading-relaxed">
            ¿Tienes preguntas o necesitas más información? <br />
            <b class="text-primary">¡Ponte en contacto con nosotros!</b> <br />
            Estamos aquí para ayudarte.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-12">
            <div class="bg-white p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow flex flex-col">
                <h3 class="text-2xl lg:text-3xl font-semibold text-primary mb-6">
                    Formulario de Contacto
                </h3>
                <form id="contact-form" action="https://api.emailjs.com/api/v1.0/email/send-form" method="POST" class="flex-grow flex flex-col">
                    <div class="mb-6">
                        <label for="name" class="block text-left text-sm font-medium text-gray-700">
                            Nombres y Apellidos
                        </label>
                        <input type="text" id="name" name="name" required 
                            class="mt-1 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent" 
                            placeholder="Ingresa Nombres y Apellidos">
                    </div>
                    <div class="mb-6">
                        <label for="email" class="block text-left text-sm font-medium text-gray-700">
                            Correo Electrónico
                        </label>
                        <input type="email" id="email" name="email" required 
                            class="mt-1 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent" 
                            placeholder="Correo electrónico">
                    </div>
                    <div class="mb-6">
                        <label for="message" class="block text-left text-sm font-medium text-gray-700">
                            Mensaje
                        </label>
                        <textarea id="message" name="message" required rows="4" 
                            class="mt-1 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent" 
                            placeholder="Escríbenos tus consultas o dudas..."></textarea>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LeBEa4qAAAAANwY0pOzX58Oe2QS5Dmzd1mnXCj3"></div>
                    <button type="submit" 
                        class="bg-primary text-white py-3 px-6 rounded-md text-sm font-semibold hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary transition-all">
                        Enviar Mensaje
                    </button>
                </form>
            </div>

            <div class="bg-white p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow flex flex-col">
                <h3 class="text-2xl lg:text-3xl font-semibold text-primary mb-6">
                    Información de Contacto
                </h3>
                <p class="text-base lg:text-lg text-gray-600 mb-6 leading-relaxed">
                    Contáctanos directamente a través de los siguientes medios:
                </p>
                <ul class="space-y-6 flex-grow">
                    <li class="flex flex-col items-center space-y-2">
                        <i class="fas fa-envelope text-primary text-xl"></i>
                        <a href="mailto:contacto@travelmillpu.com" class="text-gray-700 hover:text-primary-dark text-sm truncate max-w-full text-center">
                            contacto@travelmillpu.com
                        </a>
                    </li>
                    <li class="flex flex-col items-center space-y-2">
                        <i class="fas fa-phone-alt text-primary text-xl"></i>
                        <a href="tel:+123456789" class="text-gray-700 hover:text-primary-dark text-sm text-center">
                            +51 969 188 876
                        </a>
                    </li>
                    <li class="space-y-4">
                        <div class="flex flex-col items-center space-y-2">
                            <i class="fas fa-map-marker-alt text-primary text-xl"></i>
                            <p class="text-gray-700 text-sm text-center">
                                Pasaje José Olaya 128, Urb. los pinos - San Luis
                            </p>
                        </div>
                        <div class="w-full rounded-md overflow-hidden shadow-md">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.2575201280847!2d-71.9803677!3d-13.519781600000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd7ce77a26e71%3A0x7bfc11d7218f7d74!2sAmerican%20trekking!5e0!3m2!1ses!2spe!4v1735992055942!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>

<script type="text/javascript">
    emailjs.init("iJ6VpWiG6fuT07MjZ");

    const form = document.getElementById('contact-form');
    
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        
        const recaptchaResponse = grecaptcha.getResponse();
        if (recaptchaResponse.length === 0) {
            alert("Por favor verifica que no eres un robot.");
            return;
        }
        
        emailjs.sendForm('service_4036u5n', 'template_8r9gk48', form)
            .then(response => {
                console.log("Mensaje enviado exitosamente", response);
                alert('Tu mensaje ha sido enviado con éxito');
                
                window.location.href = '/';
            })
            .catch(error => {
                console.error("Error al enviar el mensaje", error);
                alert('Hubo un error al enviar el mensaje. Inténtalo nuevamente.');
            });
    });
</script>