<section class="bg-primary text-white py-8">
    <div class="container mx-auto px-6 md:px-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Travel Millpu
                </h3>
                <p class="text-center">
                    Nuestro principal objetivo es contribuir al desarrollo de la industria turística Peruana. Además de ser un factor de desarrollo  económico, cultural y sostenible, brindando un servicio integro de optima calidad.
                </p>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Contáctenos
                </h3>
                
                <p class="mb-2 text-center">
                    <strong>Correo:</strong> 
                    <a href="mailto:travelmillpu@gmail.com" class="text-white hover:text-olive" aria-label="Enviar un correo electrónico a travelmillpu@gmail.com">
                        travelmillpu@gmail.com
                    </a>
                </p>
                <p class="text-center mb-4">
                    <strong>Teléfono:</strong> 
                    <a href="tel:969188876" class="text-white hover:text-olive" aria-label="Llamar al número 969188876">
                        +51 969 188 876
                    </a>
                </p>

                <div class="">
                    <img src="../images/mincetur.avif" alt="Logo de Mincetur" class="w-full h-auto" loading="lazy" />
                </div>
            </div>

            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Medios de Pago
                </h3>
                <div class="flex justify-evenly space-x-1">
                    <i class="fab fa-cc-visa text-white text-3xl p-1 rounded-full"></i>
                    <i class="fab fa-cc-mastercard text-white text-3xl p-1 rounded-full"></i>
                    <i class="fab fa-paypal text-white text-3xl p-1 rounded-full"></i>
                    <i class="fab fa-cc-amex text-white text-3xl p-1 rounded-full"></i>
                </div>
            </div>

            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Síguenos
                </h3>
                <div class="flex justify-evenly space-x-1">
                    <a href="https://www.facebook.com/p/Travel-Millpu-100088864190405/" 
                       class="text-white hover:text-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestra página de Facebook">
                        <i class="fab fa-facebook-f fa-2xl"></i>
                    </a>
                    <a href="https://www.instagram.com/" 
                       class="text-white hover:text-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestra página de Instagram">
                        <i class="fab fa-instagram fa-2xl"></i>
                    </a>
                    <a href="https://www.youtube.com/" 
                       class="text-white hover:text-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestro canal de YouTube">
                        <i class="fab fa-youtube fa-2xl"></i>
                    </a>
                    <a href="https://www.tiktok.com/@travelmillpu" 
                       class="text-white hover:text-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestra cuenta de TikTok">
                        <i class="fab fa-tiktok fa-2xl"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-8 text-white text-center">
            <p>
                &copy; 2025 Travel Millpu - Todos los derechos reservados. | RUC: 20604628998
            </p>
            <p>
                Diseñado por 
                <a href="https://www.facebook.com/rubenestebantipiania/" class="hover:text-secondary" target="_blank" rel="noopener noreferrer" aria-label="Visita el perfil de Facebook de Rubén Tipiani">
                    Rubén Tipiani
                </a>
            </p>
        </div>
    </div>
</section>