<section class="bg-primary text-white py-8">
    <div class="container mx-auto px-6 md:px-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Sobre Nosotros
                </h3>
                <p class="text-center">
                    Somos una empresa dedicada a ofrecer experiencias únicas de viaje en Perú, apoyando a comunidades locales y respetando el medio ambiente.
                </p>
            </div>

            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Contáctenos
                </h3>
                <p class="mb-2 text-center">
                    Correo: 
                    <a href="mailto:contacto@americantrekkingcusco.com" class="text-white hover:text-olive" aria-label="Enviar un correo electrónico a contacto@americantrekkingcusco.com">
                        contacto@travelmillpu.com
                    </a>
                </p>
                <p class="text-center">
                    Teléfono: 
                    <a href="tel:918024860" class="text-white hover:text-olive" aria-label="Llamar al número 918 024 860">
                        +51 969 188 876
                    </a>
                </p>
            </div>

            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Medios de Pago
                </h3>
                <div class="flex justify-evenly space-x-1">
                    <i class="fab fa-cc-visa text-white text-3xl p-1 rounded-full"></i>
                    <i class="fab fa-cc-mastercard text-white text-3xl p-1 rounded-full"></i>
                    <i class="fab fa-paypal text-white text-3xl p-1 rounded-full"></i>
                    <i class="fab fa-cc-amex text-white text-3xl p-1 rounded-full"></i>
                </div>
            </div>

            <div>
                <h3 class="text-xl text-secondary font-semibold text-center mb-4">
                    Síguenos
                </h3>
                <div class="flex justify-evenly space-x-1">
                    <a href="#" 
                       class="text-white hover:text-info focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestra página de Facebook">
                        <i class="fab fa-facebook-f fa-2xl"></i>
                    </a>
                    <a href="#" 
                       class="text-white hover:text-info focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestra página de Instagram">
                        <i class="fab fa-instagram fa-2xl"></i>
                    </a>
                    <a href="#" 
                       class="text-white hover:text-info focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestro canal de YouTube">
                        <i class="fab fa-youtube fa-2xl"></i>
                    </a>
                    <a href="#" 
                       class="text-white hover:text-info focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-secondary"
                       target="_blank" 
                       rel="noopener noreferrer" 
                       aria-label="Visita nuestra cuenta de TikTok">
                        <i class="fab fa-tiktok fa-2xl"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-8 text-white text-center">
            <p>
                &copy; 2025 Travel Millpu - Todos los derechos reservados. | RUC: 10771690497
            </p>
            <p>
                Diseñado por 
                <a href="https://www.facebook.com/rubenestebantipiania/" class="hover:text-olive focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-secondary" target="_blank" rel="noopener noreferrer" aria-label="Visita el perfil de Facebook de Rubén Tipiani">
                    Rubén Tipiani
                </a>
            </p>
        </div>
    </div>
</section>