---
const meta = {
	title: "Travel Millpu | Agencia de viajes en Ayacucho | Agencia de Viajes en Perú | Tours Machu Picchu | Tours en Cusco",
	description: "Más de 10 años de experiencia, como lider en turismo, brindando servicios de calidad que hará que tu expediencia de viaje sea inolvidable.",
	url: "https://americantrekkingcusco.com/",
};
import '/src/assets/styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{meta.title}</title>
	</head>
	<body>
		<slot />
		<a href="https://wa.me/51969188876?text=Hola%20*Travel%20Millpu*,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20paquetes%20tur%C3%ADsticos." target="_blank" rel="noopener noreferrer" class="fixed bottom-6 right-6 z-50 w-16 h-16 bg-green-500 text-white rounded-full flex items-center justify-center shadow-xl hover:bg-green-600 transition duration-300 transform hover:scale-110" aria-label="Ir a Whatsapp">
			<i class="fa-brands fa-whatsapp text-2xl"></i>
		</a>		

		<a href="#top" class="fixed bottom-24 right-8 z-50 p-3 bg-primary text-white rounded-full shadow-xl hover:bg-secondary transition duration-300" aria-label="Ir al inicio de la página">
			<i class="fa-solid fa-arrow-up text-xl"></i>
		</a>
	</body>
</html>