---
const meta = {
	title: "Travel Millpu | Agencia de viajes en Ayacucho | Agencia de Viajes en Perú | Tours Machu Picchu | Tours en Cusco",
	description: "Más de 10 años de experiencia, como lider en turismo, brindando servicios de calidad que hará que tu expediencia de viaje sea inolvidable.",
	url: "https://americantrekkingcusco.com/",
};
import '/src/assets/styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{meta.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>