---
const meta = {
	title: "American Trekking Cusco | Agencia de viajes en Cusco | Agencia de Viajes en Perú | Tours Machu Picchu | Tours en Cusco",
	description: "Machu Picchu Tours, Cusco Agencias de Viaje, Paquetes Turísticos Cusco, Montaña de 7 Colores, Cusco Tours, Tours Machu Picchu, Cusco Perú, Cusco ciudad en el Perú",
	url: "https://americantrekkingcusco.com/",
};
import '/src/assets/styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{meta.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>